@import "../../sass/utils/container";
@import "../../sass/utils/mixins";

.wrapper {
  background: linear-gradient(75deg, #ce6a0d, #867ef3, #222ac9);
}

.link {
  font-size: 11px;
  color: whitesmoke;
  text-shadow: 8px 12px 2px rgba(212, 129, 13, 0.79);
  cursor: pointer;
  &:hover,
  &:focus {
    color: rgba(212, 129, 13, 0.79);
    text-shadow: 8px 12px 2px whitesmoke;
    @include transition-animation(all);
  }
  @include tablet {
    font-size: 22px;
  }
  @include desktop {
    font-size: 44px;
  }
}

.list {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @include tablet {
    gap: 35px;
  }
  @include desktop {
    gap: 40px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 24px 32px 32px;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}

.logo {
  width: 56px;
  height: 16px;
  position: absolute;
  top: 15px;
  left: 15px;
  @include tablet {
    width: 76px;
    height: 22px;
    top: 20px;
    left: 20px;
  }
}

.picture {
  width: 200px;
  height: 100px;
  @include desktop {
    width: 308px;
    height: 168px;
  }
}

.lineLeft {
  position: absolute;
  top: 163px;
  left: 0;
  width: 154px;
  height: 8px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
    inset 0px -1.71846px 3.43693px #ae7be3, inset 0px 3.43693px 2.5777px #fbf8ff;
  @include tablet {
    top: 160px;
    left: 0;
  }
  @include desktop {
    top: 210px;
    left: 0;
  }
}

.lineRight {
  position: absolute;
  top: 163px;
  right: 0;
  width: 154px;
  height: 8px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
    inset 0px -1.71846px 3.43693px #ae7be3, inset 0px 3.43693px 2.5777px #fbf8ff;
  @include tablet {
    top: 160px;
    right: 0;
  }
  @include desktop {
    top: 210px;
    right: 0;
  }
}
